<div class="content">

<ul>
<li class="prev"><a id="s1" href="/sort/1_1/">玄幻小说</a></li>
<li class="prev"><a id="s2" href="/sort/2_1/">仙侠小说</a></li>
<li class="prev"><a id="s3" href="/sort/3_1/">都市小说</a></li>
</ul>

<ul>
<li class="prev"><a id="s4" href="/sort/4_1/">历史小说</a></li>
<li class="prev"><a id="s5" href="/sort/5_1/">游戏小说</a></li>
<li class="prev"><a id="s6" href="/sort/6_1/">科幻小说</a></li>
</ul>

<ul>
<li class="prev"><a id="s7" href="/sort/7_1/">恐怖小说</a></li>
<li class="prev"><a id="s8" href="/sort/8_1/">女生小说</a></li>
<li class="prev"><a id="s9" href="/sort/9_1/">其他小说</a></li>

</ul>

</div>