<div class="content">
<ul>
<li class="prev"><a id="dayvisit"  href="/top/dayvisit_1/">日点击榜</a></li>
<li class="prev"><a id="weekvisit" href="/top/weekvisit_1/">周点击榜</a></li>
<li class="prev"><a id="monthvisit" href="/top/monthvisit_1/">月点击榜</a></li>
</ul>
<ul>
<li class="prev"><a id="allvisit" href="/top/allvisit_1/">总点击榜</a></li>
<li class="prev"><a id="goodnum" href="/top/goodnum_1/">总收藏榜</a></li>
<li class="prev"><a id="size" href="/top/size_1/">字数排行</a></li>
</ul>

<ul>
<li class="prev"><a id="dayvote" href="/top/dayvote_1/">日推荐榜</a></li>
<li class="prev"><a id="weekvote" href="/top/weekvote_1/">周推荐榜</a></li>
<li class="prev"><a id="monthvote" href="/top/monthvote_1/">月推荐榜</a></li>
</ul>
<ul>
<li class="prev"><a id="allvote" href="/top/allvote_1/">总推荐榜</a></li>
<li class="prev"><a id="postdate" href="/top/postdate_1/">最新入库</a></li>
<li class="prev"><a id="lastupdate" href="/top/lastupdate_1/">最近更新</a></li>
</ul>
</div>